{% extends 'base.html' %}
{% block content %}
<h3> search Accessories page </h3>

<table class="table table-striped" style="border: 2px solid black;" width="60%"  cellspacing="2" cellpadding="2" >
      
    <tr style="border: 1px solid rgb(48, 45, 45);" width="95%" style="border: black;"  >
        <th >ID No </th>
        
        <th>Device </th>
        <th>Make</th>
        <th>Model</th>
        <th>Name</th>
        <th>Colour</th>
        <th>Supplier</th>
        <th>Cost</th>
        <th>price</th>
        <th>Status</th>
        <th>created date</th>
        <th>created by</th>
        
    </tr>
   
    
    {% comment %} <h3 style="color: red;">Search result for <strong> {{ searched }} </strong></h3> {% endcomment %}
    {% for show_result in  acc_context reversed %}

    
    {% if not show_result.alocated %}

    <tr style="border: 2px solid black" >
      
 
            <td><a href="#">{{ show_result.id  }}</a></td>
        
            
            <td>{{ show_result.devices.devices }}</td>
            
            <td>{{ show_result.make }}</td>
            <td>{{ show_result.model }}</td>
            <td>{{ show_result.acce_name}}</td>
            <td>{{ show_result.acce_colour }}</td>
            <td>{{ show_result.supplier }}</td>
            <td>{{ show_result.cost }}</td> 
            <td>{{ show_result.retail_price }}</td>   
            <td>{{ show_result.acce_status }}</td>
            <td>{{ show_result.date }}</td>
            <td>{{ show_result.user }}</td>
            
    </tr>
    {% endif %}
    

    {% endfor %}

</table>



{% endblock %}