{% extends 'base.html' %}
{% block content %} 


<h3>{{message}}</h3>

<table class="table" >
    <thead>
      <tr>
        <th >Client ID</th>
        <th >First Name</th>
        <th >Last Name</th>
        <th >Phone </th>
        <th >Phone </th>
        <th >Email </th>
        <th >created on </th>
        <th >created by </th>
      </tr>
    </thead>

    
    <tbody>
        
      <tr>
        <td> <a href="{% url 'Client_detail_info' customer_context.id %} "> {{ customer_context.id }} </a></td>
        <td>{{customer_context.first_name}}</td>
        <td>{{customer_context.last_name}}</td>
        <td>{{customer_context.phone}}</td>
        <td>{{customer_context.landline}}</td>
        <td>{{customer_context.email}}</td>
        <td>{{customer_context.created_date}}</td>
        <td>{{customer_context.created_by}}</td>
        
      </tr>
      
    </tbody>

   
    
  </table>

  <center><button  type="button" class="btn btn-primary"> <a class="text-white" href="{% url 'Client_detail_info' customer_context.id  %}">View Client</a></button>
    <button type="button" class="btn btn-primary"> <a class="text-white" href="{% url 'add_direct_job' customer_context.id %}">Add Job</a></button></center>
  
  


{% endblock %}