{% extends 'base.html' %}

   {% block content %} 
   
   <h3>Search job page</h3>

   <form class="d-flex" method="POST" action="{% url 'search_job' %}" style="align-self: center;">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Search job" aria-label="Search" name="searched">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <h3 style="color: red;">Search result for <strong> {{ searched }} </strong></h3> 



<table class="table table-striped" style="border: 2px solid black;" width="60%"  cellspacing="2" cellpadding="2" >
  {% comment %} <table class="table" style="border: 2px solid black;" width="60%"  cellspacing="2" cellpadding="2" > {% endcomment %}

  <tr style="border: 1px solid rgb(48, 45, 45);" width="95%" style="border: black;"  >
      <th >Job ID </th>
      <th >Device </th>
      <th>Make</th>
      <th>Model</th>
      
      <th>IMEI </th>
      
      <th>Fault</th>
      <th>Cost</th>
      <th>job status</th>
      <th>user</th>
      
      <th>Time</th>
      
      
  </tr>
 
  
 
  {% for show_tablet_result in  result_context reversed %}

 

  
 
  <tr style="border: 2px solid black">
    
      <td><a href="{% url 'job_detail_page' show_tablet_result.id  %}">{{ show_tablet_result.id  }}</a></td>
  
      <td>  {{ show_tablet_result.device.devices }}  </td>
     
      <td>{{ show_tablet_result.make.make }}</td>
      <td>{{show_tablet_result.model.model}}  </td>
      
      <td>{{ show_tablet_result.imei }}</td>
      <td>{{ show_tablet_result.fault}}</td>
      
      <td>{{ show_tablet_result.cost}}</td>
      <td>{{ show_tablet_result.job_status.job_status}}</td>
      
      <td>{{ show_tablet_result.created_by }}</td>
      <td>{{ show_tablet_result.created_date }}</td>
      
  </tr>
  
  {% endfor %}

</table>
   
   
   
   
   {% endblock %}

